doctype html
html(lang="en")
    head
        link(href="styles.css", rel="stylesheet")
        meta(charset="UTF-8")
        title About
    body 
        h1 #{name} About Page
        p There's not that much to tell really...
        br
        
        hr
        a(href='/')
            button Home
        
        a(href='/login')
            button login