doctype html
html(lang="en")
    head
        link(href="styles.css", rel="stylesheet")
        meta(charset="UTF-8")
        title About
    body 
        h1 #{name} About Page
        p There's not that much to tell really...
        br
        form(method="post", action="/about")
            label(for="username") 
            input(type="text", name="username")
            label(for="password") 
            input(type="text", name="password")
            input(type="submit", value="submit")
        br
        hr
        a(href='/')
            button Home