doctype html
html(lang="en")
    head
        
        title Document
    body 
        h1 Welcome #{name} to our test site. 
        p It may not look like much but we are trying to put together an express server using pug 
        br
        a(href='about')
            button about