doctype html
html(lang="en")
    head
        link(href="styles.css", rel="stylesheet")
        meta(charset="UTF-8")
       
        title Home Page
    body 
        h1 Welcome #{name} to our test site. 
        p It may not look like much but we are trying to put together an express server using pug 
        p try typing u/yourname in the address bar to get a custom welcome.
        br
        hr
        a(href='about')
            button about