doctype html
html(lang="en")
    head
        link(href="/styles.css", rel="stylesheet")
        meta(charset="UTF-8")
        title About
    body 
        h1 #{name} 
        p This is where user information would appear, if you know, it existed.
        p Try typing your userid at the end of this url, see what happens.
        br
        
        hr
        a(href='/')
            button Home
        
        a(href='login')
            button login
        a(href='about')
            button about